@model PNP.Models.Story

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h2>Create</h2>
    <hr />
    <h4>Add a new story</h4>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description)
        <input type="submit" value="Add new story" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>