@model PNP.Models.Story
@using System.Security.Claims

@{
    ViewData["Title"] = "Story - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <hr />
    <h4>Create a new story</h4>
    @using (Html.BeginForm())
    {
        <input type="hidden" name="Name" id="Name" value=@User.GetUserName()>
        <input id="PostId" type="hidden" name="PostId" value=@ViewBag.StoryId />

        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description)
        <input type="submit" value="Add new story" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
