@model PNP.Models.Story
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Edit</h2>

<hr />

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StoryId)

    @Html.EditorFor(model => model.Description)

    <input type="submit" value="Save" />

}
<p>@Html.ActionLink("Back to list", "Index")</p>