@model IEnumerable<PNP.Models.Story>

<html>
<head>
    <title>PNP</title>
</head>
<body>
    <h2>Public News Paper</h2>
    <ul>
        @foreach (var listStory in Model)
        {
            <li>@Html.DisplayFor(modelItem => listStory.Description) @Html.ActionLink("Edit", "Edit", new { id = listStory.StoryId })</li>
        }
    </ul>
    <p>@Html.ActionLink("Add new item", "Create")</p>
</body>
</html>