@using System.Security.Claims

@model PNP.Models.Comment
<div class="createComment">
    <h1>Create new comment</h1>
    <br />
    @using (Html.BeginForm())
    {
        <input type="hidden" name="Name" id="Name" value=@User.GetUserName()>
        <input id="StoryId" type="hidden" name="StoryId" value=@ViewBag.StoryId />


        <p>@Html.LabelFor(model => model.Description)</p>
            <p>@Html.TextAreaFor(model => model.Description)</p>

            <input type="submit" value="Create"/>
    }
</div>

@Html.ActionLink("Back to List", "Index", "Stories")
