@model IEnumerable<PNP.Models.Comment>

@{
    ViewData["Title"] = "Comment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims
<h2>Comments</h2>

@foreach (var listComment in Model)
{
    <p>Comment Number: @Html.DisplayFor(modelComment => listComment.CommentId)</p>
    <p>Description: @Html.DisplayFor(modelComment => listComment.Description)  </p>
    <hr />
}