@model IEnumerable<PNP.Models.Comment>

@using System.Security.Claims
<h2>Comments</h2>

@foreach (var listComment in Model)
{
    <p>From: @Html.DisplayFor(modelComment => listComment.Name)</p>
    <p>Description: @Html.DisplayFor(modelComment => listComment.Description)  </p>
    <button class="edit-comment" value=@Html.DisplayFor(modelComment => listComment.CommentId)>Edit</button> 
    <button class="delete-comment" value=@Html.DisplayFor(modelComment => listComment.CommentId)>Delete</button>

    <hr />
}


<div id="CommentEdited"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.edit-comment').click(function () {
            $('#Modal').focus()
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: { id: this.value },
                url: '@Url.Action("Edit")',
                success: function (result) {
                    $('#CommentEdited').html(result);
                }
            });
        });
        $('.delete-comment').click(function () {
                $('#Modal').focus()
                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    data: { id : this.value},
                    url: '@Url.Action("Delete", "Comments")',
                    success: function (result) {
                        $('#CommentEdited').html(result);
                    }
                });
            });
        });
</script>