@model IEnumerable<PNP.Models.Comment>

@{
    ViewData["Title"] = "Comment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Comments</h2>

@foreach (var listComment in Model)
{
    <p>Comment Number: @Html.DisplayFor(modelComment => listComment.CommentId)</p>
    @Html.DisplayFor(modelComment => listComment.Description) <br />
    @Html.DisplayFor(modelComment => listComment.Story.Description)<br />

}